<script>
  function copyToClipboard() {
    const el = document.createElement('textarea');
    el.value = document.getElementById('addToSiteFrame').innerText;
    document.body.appendChild(el);
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);
  }
</script>

<h1 class="text-center text-3xl font-bold">Sitene Ekle</h1>

<p class="text-center text-sm text-gray-500" style="margin-top: 0.4rem;">Aşağıdaki kodu sitenin istediğin bir yerine yapıştırarak, Türkiye'nin tüm nöbetçi eczanelerini ziyaretçilerine sunabilirsin.</p>

<div class="flex flex-col items-center justify-center" style="margin-top: 2rem;">
  <code class="bg-gray-100 p-3 rounded-lg" id="addToSiteFrame">
    &lt;iframe src="https://www.turkiyenobetcieczane.com/sitene-ekle-iframe" width="100%" height="500" style="border:none;max-width: 430px;" allow="geolocation" /&gt;
  </code>
  <button class="bg-blue-500 text-white px-3 py-2 rounded-lg mt-3" onclick="copyToClipboard()">Kopyala</button>
</div>

<div class="flex flex-row items-center justify-center" style="margin-top: 1rem;">
  <iframe src="https://www.turkiyenobetcieczane.com/sitene-ekle-iframe" class="shadow-lg rounded-md" width="100%" height="500" style="border:none;max-width: 430px;" allow="geolocation" />
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "TurkiyeNobetciEczane.com - Sitene Ekle",
    "url": "https://www.turkiyenobetcieczane.com/sitene-ekle",
    "description": "Türkiye'nin tüm nöbetçi eczanelerini ziyaretçilerine sunabilirsin. Kodu sitenin istediğin bir yerine yapıştırarak, Türkiye'nin tüm nöbetçi eczanelerini ziyaretçilerine sunabilirsin.",
    "publisher": {
      "@type": "Organization",
      "name": "Türkiye Nöbetçi Eczane",
      "url": "https://www.turkiyenobetcieczane.com"
    },
    "mainEntity": {
      "@type": "WebPage",
      "@id": "https://www.turkiyenobetcieczane.com/sitene-ekle",
      "potentialAction": {
        "@type": "Action",
        "target": "https://www.turkiyenobetcieczane.com/sitene-ekle",
        "name": "Sitene Ekle"
      }
    }
  }
</script>