<div class="flex flex-col container mx-auto p-4 items-center justify-center">
  <h1 class="text-2xl font-bold">Districts</h1>
  <div class="flex flex-row justify-center">
    <p class="card bg-blue-500 m-2 p-2 text-white rounded-md">GET</p>
    <p class="card bg-blue-500 m-2 p-2 text-white rounded-md">/api/v1/districts/:city
    </p>
  </div>

  <h class="text-xl">City: <%= city %></h>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
    <% districts.forEach(function(district) { %>
    <p class="card bg-gray-500 m-2 p-2 text-white rounded-md">text: <%= district %></p>
    <% }); %>
  </div>
</div>