<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="flex dark:bg-neutral-950 flex-col h-screen mx-auto w-full">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3C6Q3BQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <%- include('../partials/navbar') %>

  <main class="container w-full flex flex-col mx-auto p-4 my-auto">
    <%- body %>
  </main>

  <%- include('../partials/footer') %>

  <script src="/js/global.js"></script>
</body>

</html>