<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="flex dark:bg-neutral-950 flex-col h-screen mx-auto w-full">

  <%- include('../partials/navbar') %>

  <main class="container w-full flex flex-col mx-auto p-4 my-auto">
    <%- body %>
  </main>

  <%- include('../partials/footer') %>

  <script src="/js/global.js"></script>
</body>

</html>