<a href="yandexnavi://build_route_on_map?lat_to=<%=pharmacy.latitude%>&lon_to= <%=pharmacy.longitude%>" class="inline-flex items-center justify-center p-2 text-sm mr-5 text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
  <svg xmlns="http://www.w3.org/2000/svg" height="25" width="30" viewBox="-59.61 -99.35 516.62 596.1">
    <g transform="translate(57.6 57)">
      <linearGradient gradientTransform="matrix(397.4168 0 0 -397.4168 214590.16 209259.78)" y2="526.693" x2="-539.107" y1="525.693" x1="-540.107" gradientUnits="userSpaceOnUse" id="a">
        <stop offset="0" stop-color="#fc0"></stop>
        <stop offset="1" stop-color="#ffe992"></stop>
      </linearGradient>
      <path fill="url(#a)" d="M116.3 166.6l62.1 173.8L339.8-57-57.6 104.5z"></path>
      <path fill="#fc0" d="M178.4 340.4L339.8-57 110.1 172.8z"></path>
      <path fill="#eca704" d="M153.5 129.3l-211.1-24.8L103.9 179l74.5 161.4z"></path>
    </g>
  </svg>
  <span class="w-full ml-3">Yandex</span><br>
</a>