<div id="toast" class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-[200%] p-3 rounded-md <%= color %> transition-transform duration-1000 ease-in-out transform z-[999999]" data-replace='{"-translate-y-[200%]":"-translate-y-1/2"}'>
  <span class="inline-block mt-1 mb-1 text-[<%=textColor%>]">
    <%= message %>
  </span>
</div>

<script>
  const toastElement = document.getElementById("toast");

  document.addEventListener("DOMContentLoaded", () => {
    const dataReplace = document.querySelectorAll("[data-replace]");
    dataReplace.forEach(element => {
      const data = JSON.parse(element.dataset.replace);
      Object.entries(data).forEach(([key, value]) => {
        element.classList.remove(key);
        element.classList.add(value);
      });
    });

    if (toastElement) {
      toastElement.addEventListener("transitionend", () => {
        setTimeout(() => {
          toastElement.classList.remove("-translate-y-1/2");
          toastElement.classList.add("-translate-y-[200%]");
        }, 2500);
      });
    }
  });
</script>